<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Kari Marttila Blog</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Kari Marttila</li>
          <li><a class="u-email" href="mailto:kari.marttila@iki.fi">kari.marttila@iki.fi</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a href="https://github.com/karimarttila"><svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#github"></use>
              </svg> <span class="username">karimarttila</span></a></li>
          <li><a href="https://www.linkedin.com/in/karimarttila"><svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#linkedin"></use>
              </svg> <span class="username">karimarttila</span></a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <li>
            <a href='https://feedly.com/i/subscription/feed%2Fhttps%3A%2F%2Fwww.karimarttila.fi%2Ffeed.xml'
              target='blank'><img id='feedlyFollow'
                src='http://s3.feedly.com/img/follows/feedly-follow-rectangle-volume-small_2x.png'
                alt='follow us in feedly' width='66' height='20'></a>
          </li>
        </ul>
      </div>
    </div>

  </div>

</footer>